extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Dynamically adds the project title.
        h1 #{project.project_name}

        //- Dynamically adds the project description.
        p.lead.text-light
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- Replace the li tags 
        ul
         each technology in project.technologies
          li #{technology}

        //- Template literals and interpolation to add URLs 
        a.button.expanded(href= project.live_link target='_blank') Live Demo
        a.button.expanded(href=project.github_link target='_blank') GitHub Repo
    
    //- Dynamically adds project images.  You only have to add one image.   
    each image in project.image_urls
      img.images(src=image)